.DS_Store
.idea/

bin/
tmp/

config/.dev
config/.dev.mock
config/.prod

db/playlist-vote.db
db/playlist-vote.db-shm
db/playlist-vote.db-wal

userflowtests/node_modules/
userflowtests/test-results/
userflowtests/playwright-report/
userflowtests/playwright/.cache/
