.DS_Store
.idea/

bin/
tmp/

config/.dev
config/.prod

# db/playlistvote.db
db/playlistvote.db-shm
db/playlistvote.db-wal

browsertests/node_modules/
browsertests/test-results/
browsertests/playwright-report/
browsertests/playwright/.cache/
