<!DOCTYPE html>
<html lang="en">

<head>
    {{.new_relic_head}}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="description" content="Playlist Vote lets you submit and vote on Spotify playlists. Share your music tastes, and find out what's popular!">

    <title>{{block "title" .}}Playlist Vote{{end}}</title>

    <link rel="icon" href="data:image/svg+xml,%3Csvg%20xmlns='http://www.w3.org/2000/svg'%20viewBox='0%200%2020%2020'%3E%3Ctext%20x='0'%20y='14'%3E🎶%3C/text%3E%3C/svg%3E" type="image/svg+xml"/>
    <link rel="stylesheet" href="/assets/main.css">

    <script async src="/assets/js/es-module-shims-1.7.2/es-module-shims.js"></script>
    <script type="importmap">
    {
      "imports": {
        "@hotwired/turbo": "/assets/js/vendor/turbo-7.3.0/dist/turbo.es2017-esm.min.js",
        "@hotwired/stimulus": "/assets/js/vendor/stimulus-3.2.1/stimulus.min.js",

        "controllers/": "/assets/js/controllers/",
        "endpoints": "/assets/js/endpoints.js"
      }
    }


    </script>

    <script type="module">
        import * as Turbo from "@hotwired/turbo"
        import { Application } from "@hotwired/stimulus"
        import ModalController from "controllers/modal.js"
        import PaginationController from "controllers/pagination.js"
        import PlayerBarController from "controllers/playerbar.js"
        import UpvoteSubscriberController from "controllers/upvote_subscriber.js"

        document.addEventListener("DOMContentLoaded", function () {
            Turbo.start()

            window.Stimulus = Application.start()
            Stimulus.register("modal", ModalController)
            Stimulus.register("pagination", PaginationController)
            Stimulus.register("playerbar", PlayerBarController)
            Stimulus.register("upvote_subscriber", UpvoteSubscriberController)
        })
    </script>

</head>

<body>

<main class="overflow-x-hidden">
    {{block "content" .}}{{end}}
</main>

{{ template "playerbar" .}}

</body>

</html>