<!DOCTYPE html>
<html lang="en">

<head>
    {{.new_relic_head}}
    <meta charset="UTF-8">
    <meta name = "viewport" content = "width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">

    <title>{{block "title" .}}Playlist Vote{{end}}</title>

    <link rel="icon" href="data:image/svg+xml,%3Csvg%20xmlns='http://www.w3.org/2000/svg'%20viewBox='0%200%2020%2020'%3E%3Ctext%20x='0'%20y='14'%3E🎶%3C/text%3E%3C/svg%3E" type="image/svg+xml" />
    <link rel="stylesheet" href="/assets/main.css">

    <script type="importmap">
    {
      "imports": {
        "@hotwired/turbo": "/assets/js/turbo-7.3.0/dist/turbo.es2017-esm.min.js",
        "alpinejs": "/assets/js/alpine-3.12.0/alpine.min.js",
        "@alpinejs/intersect": "/assets/js/alpine-3.12.0/intersect.min.js"
      }
    }
    </script>

    <script type="module">
        import * as Turbo from "@hotwired/turbo"
        import Alpine from "alpinejs"
        import intersect from "@alpinejs/intersect"

        document.addEventListener("DOMContentLoaded", function () {
            Turbo.start()

            window.Alpine = Alpine
            Alpine.plugin(intersect)
            Alpine.start()
        })
    </script>

</head>

<body>

<main class="mb-1">
    {{block "content" .}}{{end}}
</main>

</body>

</html>