[Unit]
Description=Playlist Vote

[Service]
ExecStart=/root/playlistvote/app
WorkingDirectory=/root/playlistvote
Restart=always
RestartSec=5s

[Install]
WantedBy=multi-user.target
