{{define "playlist_list" }}
    <turbo-frame id="playlist_list" class="grid
                                           gap-1
                                           mt-[3px] sm:mt-2
                                           mx-2 lg:mx-24 2xl:mx-48
                                           sm:justify-start
                                           sm:grid-cols-2
                                           lg:justify-center
                                           lg:grid-cols-9">
        {{range .}}
            {{template "playlist_card" .}}
        {{end}}
    </turbo-frame>
{{end}}

{{ template "playlist_list" .playlists}}